.container {
  border: 5px solid black;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  height: 95vh;
  justify-content: flex-start;
}

.container :nth-child(1) {
  background-color: rgb(255, 0, 0);
  flex-grow: 1;
  width: 5px;
  text-align: center;
}

.container :nth-child(2) {
  background-color: rgb(255, 162, 0);
  flex-grow: 1;
  width: 5px;
  text-align: center;
}

.container :nth-child(3) {
  background-color: rgb(255, 255, 0);
  flex-grow: 1;
  width: 5px;
  text-align: center;
}

.container :nth-child(4) {
  background-color: rgb(0, 255, 0);
  flex-grow: 1;
  width: 5px;
  text-align: center;
}

.container :nth-child(5) {
  background-color: rgb(0, 0, 255);
  flex-grow: 1;
  width: 5px;
  text-align: center;
}

.container :nth-child(6) {
  background-color: rgb(75, 0, 130);
  flex-grow: 1;
  width: 5px;
  text-align: center;
}

.container :nth-child(7) {
  background-color: rgb(148, 0, 211);
  flex-grow: 1;
  width: 5px;
  text-align: center;
}

.container :nth-child(8) {
  background-color: rgb(255, 0, 255);
  flex-grow: 1;
  width: 5px;
  text-align: center;
}

.container :nth-child(9) {
  background-color: rgb(255, 255, 255);
  flex-grow: 1;
  width: 5px;
  text-align: center;
}

.container :nth-child(10) {
  background-color: lightblue;
  flex-grow: 2;
  width: 5px;
  text-align: center;
}

.container :nth-child(11) {
  flex-grow: 15;
  width: 5px;
  text-align: center;
}
