*:not(h2, p) {
  background-color: #2b2a33;
}

h1 {
  color: whitesmoke;
  font-family: sans-serif, Arial, Helvetica;
  font-size: 40px;
  text-align: center;
}

h2, p {
  font-family: sans-serif, Arial, Helvetica;
}

.container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  height: 550px;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.card {
  background-color: #0c4471;
  box-shadow: rgba(200, 222, 241, 0.48) 6px 2px 16px 0px,
    #0c44715c -6px -2px 16px 0px;
  color: whitesmoke;
  height: 400px;
  margin: 10px;
  padding: 10px;
  text-align: center;
  width: 275px;
}

.card a {
  text-decoration: none;
}

.card:hover {
  transform: rotate(0.5deg) scale(1.1);
  transition: 0.5s;
}

.card:not(hover) {
  transform: rotate(0deg) scale(1);
  transition: 0.5s;
}

img {
  width: 150px;
}