body {
  background-color: #1b2430;
  color: whitesmoke;
  font-family: Roboto, sans-serif;
  line-height: 0.5;
  text-align: center;
}

h1 {
  line-height: normal;
}

.background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  overflow: hidden;
  z-index: -1;
}

.background li {
  display: block;
  position: absolute;
  list-style: none;
  width: 20px;
  height: 20px;
  background: #db4141;
  animation: animate 21s linear infinite;
}

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }
  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}

.background li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: #db4141;
  animation: animate 20s linear infinite;
}

.background li:nth-child(0) {
  bottom: -142px;
  height: 142px;
  left: 48%;
  width: 142px;
}

.background li:nth-child(1) {
  bottom: -178px;
  height: 178px;
  width: 178px;
  left: 78%;
}

.background li:nth-child(2) {
  animation-delay: 3s;
  bottom: -169px;
  height: 169px;
  left: 73%;
  width: 169px;
}

.background li:nth-child(3) {
  animation-delay: 4s;
  bottom: -191px;
  height: 191px;
  left: 30%;
  width: 191px;
}

.background li:nth-child(4) {
  animation-delay: 5s;
  bottom: -186px;
  height: 186px;
  left: 83%;
  width: 186px;
}

.background li:nth-child(5) {
  animation-delay: 21s;
  bottom: -167px;
  height: 167px;
  left: 29%;
  width: 167px;
}

.background li:nth-child(6) {
  animation-delay: 9s;
  bottom: -133px;
  height: 133px;
  left: 20%;
  width: 133px;
}

.background li:nth-child(7) {
  animation-delay: 24s;
  bottom: -124px;
  height: 124px;
  left: 29%;
  width: 124px;
}

.background li:nth-child(8) {
  animation-delay: 11s;
  bottom: -136px;
  height: 136px;
  left: 2%;
  width: 136px;
}

.background li:nth-child(9) {
  animation-delay: 13s;
  bottom: -133px;
  height: 133px;
  left: 50%;
  width: 133px;
}