body {
  background-color: #212121;
  color: whitesmoke;
  font-family: Helvetica, sans-serif;
  text-align: center;
}

button {
  background: linear-gradient(225deg, #181818, #2e2e2e);
  background-blend-mode: multiply;
  border: none;
  border-radius: 9px;
  box-shadow: -5px 5px 10px #191919, 5px -5px 10px #292929;
  color: rgb(235, 234, 234);
  font-size: 18px;
  font-family: inherit;
  margin: 0.5em;
  padding: 0.7em 2em;
}

button:hover {
  background: #212121;
  transition: background 1s ease;
  box-shadow: -5px 5px 10px #191919, 5px -5px 10px #292929;
}

button:active {
  transition: box-shadow 0.1s ease;
  border-radius: 9px;
  background: #212121;
  box-shadow: inset -5px 5px 10px #191919, inset 5px -5px 10px #292929;
}