body {
  background-color: #212121;
  color: whitesmoke;
  font-family: Helvetica, sans-serif;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 10vh;
  padding: 25px;
}

.container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 0px;
  height: 65vh;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.card a {
  text-decoration: none;
}

fieldset {
  border: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 50px;
  height: 350px;
  padding: 0;
  width: 400px;
  text-align: center;
}

legend {
  font-size: 1.25em;
  font-weight: bold;
  margin: 10px;
}

.informacion {
  background-color: #333;
  border: 5px solid #444;
  border-radius: 5px;
  color: whitesmoke;
  font-size: 1.25em;
  font-weight: 500;
  padding: 15px;
}

input {
  font-family: Helvetica, sans-serif;
  font-size: 0.8em;
  font-weight: 600;
  outline: none;
  margin: 2.5px;
  padding: 5px;
  width: 200px;
  -webkit-transition: width 0.35s ease-in;
  transition: width 0.35s ease-in;
}

input:focus {
  background-color: lightgray;
  width: 215px;
}

input:checked {
  border: green 2px solid;
}

input[type="submit"] {
  background-color: #333;
  border: 5px solid #444;
  border-radius: 5px;
  color: whitesmoke;
  cursor: pointer;
  font-size: 1em;
  font-weight: 500;
  margin: 10px;
  margin-top: 20px;
  padding: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

input[type="submit"]:hover {
  transform: scale(1.15);
  transition: 0.5s;
}

input[type="submit"]:not(:hover) {
  transform: scale(1);
  transition: 0.5s;
}

button {
  background: linear-gradient(225deg, #181818, #2e2e2e);
  background-blend-mode: multiply;
  border: none;
  border-radius: 9px;
  box-shadow: -5px 5px 10px #191919, 5px -5px 10px #292929;
  color: rgb(235, 234, 234);
  font-size: 18px;
  font-family: inherit;
  margin: 0.5em;
  padding: 0.7em 2em;
}

button:hover {
  background: #212121;
  transition: background 1s ease;
  box-shadow: -5px 5px 10px #191919, 5px -5px 10px #292929;
}

button:active {
  transition: box-shadow 0.1s ease;
  border-radius: 9px;
  background: #212121;
  box-shadow: inset -5px 5px 10px #191919, inset 5px -5px 10px #292929;
}
