body {
  background-color: #1b2430;
  color: whitesmoke;
  font-family: Roboto, sans-serif;
  line-height: 0.5;
  text-align: center;
}

input[type="text"] {
  border: none;
  border-radius: 5px;
  padding: 5px 10px 5px 10px;
  margin-top: 2.5px;
  width: 100px
}

input[type="text"]:focus {
  background-color: lightgray;
  transition: 0.4s ease-in-out;
  width: 120px;
  outline: 2.5px solid black;
}

input[type="text"]:not(:focus) {
  background-color: none;
  transition: 0.4s ease-in-out;
  width: 100px;
  outline: none;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  width: 95vw;
  height: 90vh;
}

.container .cuadrito {
  background-color: teal;
  border: 5px solid black;
  border-radius: 15%;
  box-shadow: 5px 5px 10px 10px black;
  height: 250px;
  width: 250px;
  transition: 0.5s;
}